streamlit==1.45.1
pandas==2.2.2
alpaca-py
requests
urllib3<2
watchdog
ta==0.11.0
streamlit-option-menu

# streamlit==1.45.1
# pandas==2.2.3
# numpy==1.26.4
# plotly==5.22.0
# yfinance==0.2.58
# ta==0.11.0
# requests==2.31.0
# urllib3==1.26.18
# six==1.16.0
# setuptools>=70.0.0
# wheel
# alpaca-py